/* ====== 1. CSS RESET ====== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #F3F4F6;
  color: #1F2937;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --radius: 8px;

  --color-primary: #3B82F6;
  --color-primary-light: #EFF6FF;

  --color-border: #E5E7EB;
  --color-bg: #FFFFFF;

  --color-text: #1F2937;
  --color-text-light: #6B7280;

  --shadow-sm: 0 1px 2px rgba(0,0,0,0.05);
  --shadow-md: 0 2px 6px rgba(0,0,0,0.08);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 40px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  background: var(--color-bg);
  font-size: 14px;
  transition: 0.2s border-color;
}

.input:focus {
  border-color: var(--color-primary);
  outline: none;
}

.btn:hover {
  background: var(--color-primary);
  color: white;
}

.btn:disabled {
  background: #D1D5DB;
  border-color: #D1D5DB;
  color: white;
  cursor: default;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox input {
  width: 16px;
  height: 16px;
}

.product-card {
  background: white;
  padding: 16px;
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-sm);
}

.product-img {
  width: 100%;
  height: 140px;
  background: #F3F4F6;
  border-radius: var(--radius);
  margin-bottom: 14px;
}

.product-title {
  font-size: 14px;
  color: var(--color-text);
  margin: 6px 0 10px;
}

.product-brand {
  font-size: 12px;
  color: var(--color-text-light);
  margin-bottom: 4px;
}

.product-price {
  font-size: 18px;
  font-weight: 600;
}

.product-price-old {
  margin-left: 8px;
  font-size: 14px;
  color: var(--color-text-light);
  text-decoration: line-through;
}

.badge-hot {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #DC2626;
  margin-bottom: 6px;
}

.badge-discount {
  background: var(--color-primary);
  color: white;
  padding: 4px 8px;
  border-radius: var(--radius);
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
}

.sidebar {
  width: 100%;;
  background: white;
}

.filter-title {
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0 10px;
}

.filter-group {
  margin-bottom: 24px;
}

.filter-search {
  margin-bottom: 10px;
}